<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增上传文件')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-file-add">
            <input id="fileName" name="fileName" type="hidden">
            <input id="filePath" name="filePath" type="hidden">
            <input id="saveName" name="saveName" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">文件路径：</label>
                <div class="col-sm-8">
                    <input id="file" name="file" class="form-control" type="file" multiple>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        // 保存时的请求路径
        var prefix = ctx + "moudleSet/file";
        // 获取带有项目名称以及端口号的地址
        var curWwwPath=window.document.location.href;
        var pathName=window.document.location.pathname;
        var pos=curWwwPath.indexOf(pathName);
        var localhostPaht=curWwwPath.substring(0,pos);

        $("#form-file-add").validate({
            focusCleanup: true
        });

        //初始化文件上传框
        $("#file").fileinput({
            'theme': 'explorer',
            'uploadUrl':prefix+"/addFile",
            overwriteInitial: false,
            initialPreviewAsData: true,
            showPreview : false,
            layoutTemplates:{
                actionZoom:'',
                actionDownload:'',
                actionUpload:'',
            },
            allowedFileExtensions:['doc','docx','xls','xlsx','pdf'],
        });
        var state = 'error';
        $('#file').on('fileuploaded', function(event, data, previewId, index) {
            var responseData = data.response.data;
            $("#saveName").val(responseData[0]);
            $("#filePath").val(responseData[1]);
            $("#fileName").val(responseData[2]);
            if(typeof(responseData) != 'undefined'){
                state = "success";
            }
        });

        $('#file').on('filebatchuploadcomplete',function (event,files,extra) {
            if("error" == state){
                layer.msg('上传失败', {icon: 5});//弹框提示
                return false;
            }else{
                layer.msg('上传成功', {icon: 6});//弹框提示
                setTimeout(function(){ //执行延时关闭
                  return true;
                },1000);
            }

        });



        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-file-add').serialize());
            }
        }
    </script>
</body>
</html>